{% load static %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
		<div class="container">
		  <a class="navbar-brand" href="/">Bottle Shop</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav ml-auto">
		      <li class="nav-item">
		        <a class="nav-link text-white" href="{% url 'core:home' %}">Home</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link text-white" href="{% url 'core:categories' %}">Categories</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link text-white" href="">Brands</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link text-white" href=""><i class="fa fa-shopping-cart"></i> Cart (2)</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link text-white" href=""><i class="fa fa-user"></i> My Account</a>
		      </li>
		    </ul>
		  </div>
		</div>
    </nav>